<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="theme-color" content="rgb(254, 254, 254)"/>
        
        <title>Index for Earthquakes</title>
        <link rel="stylesheet" href="../style2.css">
    </head>
    <body style="background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);">t
        <header>
            <img src="../CDN/images/earthquake.png" width="135em" height="135em" style="padding-top:0.5em;margin-left: auto;margin-right: auto;display: block;"/>
            <h1 class="textFont" style="color:rgb(0, 0, 0); text-align: center; padding-top: 0cm; padding-bottom: 0em; font-weight: normal; font-size: 1.75em;">Disaster Index</1h>
        </header>

        <div id="maincontent">
            <h1 class="textFont" style="color: rgb(35, 35, 35); text-align: center; font-size: 3em; padding-top: 0em;">Information for <%=city%>, <%=region%></h1>
            
            <div id="risk-indicator" style="margin: auto; width: 20em; height: 3em;background-color: rgb(181, 118, 0); border-radius: 0.25cm;">
                <p class="textFont" style="color: white;text-align: center;font-weight: bold;user-select: none;font-size: 1.5em;padding-top: 0.35em;">Moderate Risk</p>
            </div>

            <div id="map" style="padding-top: 2.5em;">
                <iframe src="https://maps.google.com/maps?width=150%;height=150%;hl=en&amp;q=<%=latitude%>,<%=longitude%>+(<%=city%>)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" style="width: 90%; height: 25em;display:block;margin: auto;border-radius: 0.5em;border-width: 0.05em; border-color: black;"></iframe>
            </div>

            <div id="divider" style="padding-top: 0.5em;">
                <hr style="width: 95%; background-color: rgb(147, 147, 147); height: 0.15em; border-width: 0em;">
            </div>


        </div>
    </body>
</html>